**/.env
.streamlit/secrets.toml
secrets.toml
.vscode/launch.json
.vscode
**.py[cod]
__pycache__/
__pycache__/database.cpython-311.pyc
.idea
.DS_Store
.venv/
learnloop/learnloop.egg-info/
react_app/node_modules/
react_app/build/