/* Import Inter Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');

/* Reset margins and paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set default font */
body {
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #fff;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* src/App.css */
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  margin: 0 auto;
  max-width: 1000px;
  /* Pas de breedte aan naar wens */
  padding: 20px;
}

.content-column {
  width: 80%;
  /* Adjust to control the width of the centered column */
  max-width: 800px;
  /* Set a max width for larger screens */
  text-align: left;
  /* Align text to the left inside this column */
}

/* App.css of index.css */
.loading-dots {
  display: flex;
  justify-content: center;
  font-size: 24px;
  margin-bottom: 10px;
  /* Zorg dat het boven de invoer goed wordt geplaatst */
}

.loading-dots span {
  opacity: 0;
  animation: fade 1.5s infinite;
  margin: 0 2px;
}

.loading-dots span:nth-child(1) {
  animation-delay: 0s;
}

.loading-dots span:nth-child(2) {
  animation-delay: 0.3s;
}

.loading-dots span:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes fade {

  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}